<table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Std_Roll</th>
        <th scope="col">Std_Name</th>
        <th scope="col">Std_Marks</th>
        <th scope="col">Controller</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Otto</td>
        <td>78</td>
        <td>
            <button class="btn btn-success mx-4">Edit/Update</button>
            <button class="btn btn-danger">Delete</button>
        </td>
      </tr>
      
    </tbody>
  </table>